# Environments
*.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
venv/
.venv/
dist/
build/
*.db

# Node
node_modules/
frontend/dist/
.vite/

# Docker
postgres_data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
